body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
}
.container {
        display: inline-block;
        width: 1000px;
        height: 200px;
        margin-left: calc( (100% - 1000px)  / 2 );
        margin-top: 80px;

    }
    .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: blue;
        }
    .right {
        display: inline-block;
        padding: 80px;
        float: left;
        background-color: white;
        font-size: 20px;
        color: white;
         }
    